{% if settings.title is not empty %}
	
	{% if settings.link.href %}
		<a href="https://mamangiik.github.io/misyesinviteu/wp-content/plugins/elementor/modules/atomic-widgets/elements/atomic-heading/{{ settings.link.href | e('full_url') }}" target="{{ settings.link.target }}" class="{{ base_styles['link-base'] }}">
			{{ settings.title }}
		</a>
	{% else %}
		{{ settings.title }}
	{% endif %}
	{{ settings.tag | e('html_tag') }}>
{% endif %}
