{% if settings.image.src is not empty %}
	{% if settings.link.href %}
		<a href="https://mamangiik.github.io/misyesinviteu/wp-content/plugins/elementor/modules/atomic-widgets/elements/atomic-image/{{ settings.link.href | e('full_url') }}" class="{{ base_styles['link-base'] }}" target="{{ settings.link.target }}">
	{% endif %}
	<img class="{{ base_styles['base'] }} {{ settings.classes | join(' ') }}" for attr value in settings.image % if src="https://mamangiik.github.io/misyesinviteu/wp-content/plugins/elementor/modules/atomic-widgets/elements/atomic-image/{{ value | e('full_url') }}" else | e endif endfor>
	{% if settings.link.href %}
		</a>
	{% endif %}
{% endif %}
